{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<h1>Tech blog</h1>
<p>Latest articles about IT and development.</p>

<h2>Our latest posts</h2>
{% if posts %}
    <article>
        {% for post in posts %}
            <h3>{{ post.title }}</h3>
        {% endfor %}
    </article>
{% endif %}

{% endblock %}
